.board-statuscard-container {
  /* min-width: 200px;
  min-height: 105px; */
  width: 200px;
  height: 110px;
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.08), 3px 3px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 6px 10px;
}

.board-statuscard-container h3 {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 500;
}

.board-statuscard-icontotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-statuscard-icontotal span {
  font-weight: 500;
  font-size: 40px;
}

.board-statuscard-icontotal img {
  width: 43.42px;
  height: 41px;
}

.board-statuscard-icontotal p {
  flex: 1;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  font-size: 0.9rem;
  color: #333;
}
