.dashboard-container {
  padding: 20px;
}

.board-status-cards {
  display: flex;
  gap: 86px;
}

.cards-container {
  display: flex;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;
}

.charts-container > .charts-container-1 {
  display: flex;
  gap: 20px;
}

.line-chart-container {
  padding: 2px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.08), 3px 3px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.stores-status-container {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.08), 3px 3px 30px rgba(0, 0, 0, 0.08);
  /* min-width: 30%; */
  width: 500px;
  margin: 10px;
  height: 64vh;
  border-radius: 6px;
  /* border: 2px solid red; */
  padding: 0 10px 10px 10px;
}
.stores-cards-wrapper {
  width: 100%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.dashboard-main-data {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 85%;
}
.board-primary {
  display: flex;
  justify-content: center;
}
