.dashboard-container {
  padding: 20px;
}

.board-status-cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.cards-container {
  display: flex;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;
}

.charts-container>.charts-container-1 {
  display: flex; 
  gap: 20px;
}

.line-chart-container {
  padding: 2px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.08), 3px 3px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}



.stores-status {
  padding: 0 12px 12px 12px;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.08), 3px 3px 30px rgba(0, 0, 0, 0.08);
}

.stores-status>div {
  max-width: 400px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}