.itemInfo-container {
  width: 90%;
  height: 71px;
  display: flex;
  margin: 30px 0 0;
  padding: 7px;
}
.itemInfo-container img {
  width: 93px;
  height: 88px;
  /* border: 2px solid red; */
  border-radius: 0.4em;
}
.itemInfo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  margin: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.itemInfo span {
  min-width: 100px;
}
.itemInfo .total {
  text-align: center;
}

.more-info-btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.more-info-btn img {
  width: 24px;
  height: 24px;
}
